@font-face {
    font-family: "Geist";
    src: url("/fonts/geist/Geist[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/geist/Geist-Italic[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("/fonts/geist/GeistMono[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("/fonts/geist/GeistMono-Italic[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gantians";
    src: url("/fonts/gantians/Gantians.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
